.site-title a {
    color: black;
  }
  
  /* Button container styles */
.button-container {
    margin-top: 20px;
    text-align: center;
}

/* Button styles */
button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}
  