<<<<<<< HEAD
/* div#studentAccountInformatio{
    float: left /*Really small for now because it makes the buttons more sequential. Clean up later when the buttons are full of data
} */
=======
div#studentAccountInformation{
    float: left;
}
>>>>>>> main

/* div#studentAccountInformation{
    float: right;
    width: 91%;
} */