<<<<<<< HEAD
/* #make-course-button {
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 24px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

#modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
#make-course-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.modal-dialog {
    max-width: 600px;
    margin: 0 auto;
}
  
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.modal-hide-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}
  
.course-input-element {
    margin-bottom: 15px;
}
  

fieldset {
    border: none;
}
  
legend {
    font-weight: bold;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
  
.action-button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
} */
=======
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

button {
    margin: 10px 10px;
}

form {
    max-width: 250px;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
>>>>>>> main
