body {
    font-family: Arial, sans-serif;
}

nav {
    margin-top: 10px;
}

.nav-button {
    margin-right: 10px;
}

article {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}