/* div#studentProfilesBox{
<<<<<<< HEAD
    float: left; width: 20%; /*Really small for now because it makes the buttons more sequential. Clean up later when the buttons are full of data
} */

/* div#SearchModifiers{
    float: right; width: 50%;
} */

#searchBar {
    padding: 10px;
    margin: 10px 0;
}
 
select, input {
    padding: 8px;
    margin-bottom: 10px;
}

  
=======
    float: left;
    width: 20%;
}

div#SearchModifiers{
    float: right;
    width: 50%;
} */

#searchBar {
    padding: 10px;
    margin: 10px 0;
}
 
select, input {
    padding: 8px;
    margin-bottom: 10px;
}
>>>>>>> main
