/* div#studentProfilesBox{
    float: left;
    width: 20%;
}

div#SearchModifiers{
    float: right;
    width: 50%;
} */

#searchBar {
    padding: 10px;
    margin: 10px 0;
}
 
select, input {
    padding: 8px;
    margin-bottom: 10px;
}