body{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

div{
    width: 90%;
    border-style: solid;
    border-color: black;
    
}

p#usernameText{
    float: right;
}

p#notifications{
    float: right;
    color: blue;
}

button {
    width: 30%;
    height: 15%
  }